a {
    color: black;
    text-decoration: none; /* no underline */
  }

body {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:50px;
    box-sizing:border-box;
    font-family: 'Roboto Mono', monospace;
    background-image: url("background.jpg");
}

.calculator-wrapper {
    display:flex;
    justify-content:space-around;
    background-color:#EBF6FF;
    width:500px;
    height:700px;
    flex-wrap:wrap;
    padding:30px;
    border-style:solid;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2), 0 24px 30px 0 rgba(0, 0, 0, 0.19);
}

.upper-buttons {
    display:flex;
    width:50%;
    align-self:flex-end;
}

.screen {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    margin-top:10px;
    background-color:white;
    width:95%;
    height:25%;
    border-style:solid;
    padding:20px;
    box-sizing:border-box;
    font-size:75px;
}

.screen-top-row {
    display:flex;
    justify-content: flex-end;
    min-height:17.5%;
}

.history-wrapper {
    font-size:15px;
}

.screen-bottom-row {
    display:flex;
    justify-content:space-between;
}

.operator-span-wrapper {
    width:10%;
    display:flex;
    align-items:center;
}


.numbers-wrapper {
    max-width:85%;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
}

.buttons-wrapper {
    width:95%;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    height:75%;
    margin-top:30px;
    margin-bottom:30px;
    box-sizing:border-box;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.row-1-buttons,.row-2-buttons,.row-3-buttons,.row-4-buttons {
    width:100%;
    display:flex;
    text-align:center;
    height:20%;
    box-sizing:border-box;
}

.button {
    width:25%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    border-style:solid;
    background-color:#75A1C5;
    margin:10px;
    border-radius:4px;
    box-sizing:border-box;
}

#equals, #plus, #minus, #times, #divided, #clear, #backspace {
    background-color:lightgoldenrodyellow;
}

#clear, #backspace {
    width:100%;
    font-size:25px;
}
